/*
COLOR SCHEME
    Dark Gray: #4e5a65;
    Medium Gray: #708090;
    Light Gray: #9ba6b1;
    Blue: #50a6fc;
*/

html,
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka One', cursive;
    font-weight: normal;
}

img {
    max-width: 100%;
}

.header {
    color: #fff;
    background: #4e5a65;
    border-bottom: 2px solid #708090;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
}

nav ul {
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px 0;
}

nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #9ba6b1;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #50a6fc;
}

.main {
    padding: 40px;
}

#about-me .text {
    width: 45%;
    float: left;
    margin-right: 5%;
}

#about-me img {
    width: 50%;
    float: right;
}

.special {
    color: coral;
    text-decoration: underline;
    font-weight: bold;
}

#projects {
    clear: both;
}

.project {
    background-color: #50a6fc;
    background-image: url(https://placekitten.com/300/300);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 300px;
    margin: 2.5%;
    float: left;
    position: relative;
}

.project:hover {
    background-image: none;
}

.project-title {
    color: white;
    padding: 20px;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}

.project:hover .project-title {
    display: block;
}

#resume h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #9ba6b1;
}

dt {
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
}

dd dd {
    margin-left: 0;
}

dd dt {
    font-size: inherit;
    padding-left: 0;
    border-bottom: none;
    margin-top: 10px;
}
